# Cleaning and Analysis of Craigslist Used Car Postings
Data retrieved from [Kaggle](https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data), due to the dataset being to large to upload to github, manual download is required. Place 'vehicles.csv' in data folder.

Uses : ![Jupyter Notebook](https://img.shields.io/badge/jupyter-%23FA0F00.svg?style=for-the-badge&logo=jupyter&logoColor=white)![Python](https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54)![Matplotlib](https://img.shields.io/badge/Matplotlib-%23ffffff.svg?style=for-the-badge&logo=Matplotlib&logoColor=black)![NumPy](https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white)![Pandas](https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white)

In [4]:
import pandas as pd

In [7]:
data = pd.read_csv("data/vehicles.csv",header=0,index_col=0)
print(data.columns)
data.head()

Index(['url', 'region', 'region_url', 'price', 'year', 'manufacturer', 'model',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
id,,,,,,,,,,,,,,,,,,,,,
7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [15]:
nullCount = pd.DataFrame(columns=["NaNCount","NaN%"],index=data.columns)
for col in data.columns:
	count = len(data) - len(data[col].dropna())
	percent = (count / len(data)) * 100.0
	nullCount.loc[col] = [count,percent]

nullCount.sort_values(by="NaNCount",axis="index", inplace=True)
nullCount

             NaNCount       NaN%
url                 0        0.0
region              0        0.0
region_url          0        0.0
price               0        0.0
state               0        0.0
image_url          68    0.01593
posting_date       68    0.01593
description        70   0.016398
year             1205   0.282281
transmission     2556   0.598763
fuel             3013   0.705819
odometer         4400   1.030735
model            5277   1.236179
lat              6549   1.534155
long             6549   1.534155
title_status     8242   1.930753
manufacturer    17646   4.133714
type            92858  21.752717
paint_color    130203  30.501078
drive          130567  30.586347
VIN            161042  37.725356
condition      174104  40.785232
cylinders      177678   41.62247
size           306361  71.767476
county         426880      100.0